<div class="modal-menu">
    <div class="menu-item" ui-sref="home.find-friends" ng-click="closeThisDialog()">
        <i class="fa fa-user-plus"></i> Find friends
    </div>
    <div class="menu-item" ui-sref="home.find-friends" ng-click="closeThisDialog()">
        <i class="fa fa-user-edit"></i> Edit profile
    </div>
    <div class="menu-item" ng-click="closeThisDialog()">
        <i class="fa fa-user-friends"></i> Connection requests
        <span>{{12}}</span>
    </div>
    <div class="menu-item" ui-sref="home.chat" ng-click="closeThisDialog()">
        <i class="fa fa-users"></i> Home
    </div>
</div>