.modal-menu
    .ngdialog-content
        width: 60% !important
        margin: 10% auto
        position: relative
        border-radius: 5px
        .ngdialog-close
            position absolute
            top: 2px
            right: 2px
    .menu-item 
        font-size: 24px
        padding: 15px
        cursor pointer
        &:hover
            background-color: #e0e0e0