mainPadding = 10%


#main-container
    display: flex
    position: absolute
    top: mainPadding
    left: mainPadding
    right: mainPadding
    bottom: mainPadding
    background-color: #fff 
    border-radius: 1% 
    overflow hidden
    .logout
        display: flex
        align-items: flex-start
        position: absolute
        top: 17px
        right: 10px
        z-index: 1
        img 
            width: 35px
            border-radius: 50%
        .fa
            font-size: 30px;
            line-height: 35px;
            opacity: 0.5;
            margin-left: 10px;
            cursor: pointer;

    