mainPadding = 10%


#main-container
    display: flex
    position: absolute
    top: mainPadding
    left: mainPadding
    right: mainPadding
    bottom: mainPadding
    background-color: #fff 
    border-radius: 1% 
    overflow hidden

    .left-side
        width: 33%
        height: 100%
        background-color: #383c9a
        overflow hidden

    .messages-area       
        width: 67%
        height: 100%

    .header 
        height: 70px 
        display: flex
        justify-content: space-around
        align-items: center
        .fa-long-arrow-left, .fa-bars
            color: #ffffff
            font-size: 24px
            cursor: pointer 
        .room-search
            input
                text-align: center 
                border-radius: 5px
                outline: 0   
    .chat-rooms
        padding: 0 15px
        height: 100%
        overflow: auto
        margin-right: -18px
        padding-right: 10px

        .room
            display: flex
            justify-content: center
            align-items: center
            color: #ffffff
            height: 70px
            cursor: pointer
            :hover
                background-color: red
            .info
                padding: 0 20px
                flex-grow: 1
                .nickname
                    font-size: 24px
                .description
                    text-align: left
                    font-size: 16px
                    text-overflow: ellipsis
                
            img 
                border-radius: 50%
                width: 50px            